
# Database
# Docker
# Environment
# IDE
# Logs
# OS
# Python
# Testing
*$py.class
*.db
*.egg-info/
*.log
*.py[cod]
*.so
*.sqlite3
*.swo
*.swp
.DS_Store
.Python
.coverage
.env
.env.*.local
.env.local
.idea/
.pytest_cache/
.venv/
.vscode/
Thumbs.db
__pycache__/
_rdz_preview.db
_redesign_preview.db
build/
dist/
docker-compose.override.yml
e2e_test.db
env/
htmlcov/
logs/
venv/
